* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(238, 244, 255);
    background: linear-gradient(144deg,
            rgba(238, 244, 255, 1) 37%,
            rgba(175, 190, 255, 1) 100%);
}

.container {
    display: flex;
    background-color: white;
    border-radius: 50px;
    height: 80%;
    width: 65%;
    box-shadow: 5px 5px 10px #9e9e9e;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    background-image: linear-gradient(26deg,#8BA0FF, #5271FF);
    flex: 1;
    gap: 10px;
    border-radius: 50px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signup h1 {
    color: white;
    font-size: 2.5rem;
}

.signup p {
    color: white;
}

.signup button {
    color: white;
    width: 40%;
    height: 8%;
    border-radius: 20px;
    border: 1px solid #5271FF;
    background-image: linear-gradient(#5473ff, #5271FF);
    cursor: pointer;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.fields h1 {
    margin: 0;
    margin-top: 0.9%;
    margin-bottom: 2%;
    color: #5271FF;
}

.titulo {
    font-size: 2.5rem;
}

.container_inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    border-radius: 50px;
    border: 2px solid #5271FF;
    padding: 0 0 0 5px;   
}

label {
    color: #5271FF;
    font-size: 1rem;   
}

.signup button {
    color: white;
    width: 40%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #5271FF;
    background-image: linear-gradient(#5473ff, #5271FF);
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    align-items: center;
    width: 85%;
    height: 10%;
}

.buttons button {
    color: white;
    height: 80%;
    width: 50%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(#AFBEFF, #5271FF);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        border-radius: 20px;
    }
    
    .form-login {
        display: none;
    }

    .fields {
        margin-left: 5%;
        align-items: start;
        width: 100%;
    }

    .container_inputs {
        width: 95%;
    }

    .buttons {
        width: 95% ;
    }

    .buttons button {
        width: 100%;
    }
}