body {
    height: 100vh;
    width: 100%;
}

h1{
    display: flex;  
    justify-content: center;
    width: 100%;
    color:#5271FF;
    margin: 0 0 1rem 0;

}

.box_graficos_kpis{
    width: 100%;
    height: 90%;
    padding: 0 3rem;
    box-sizing: border-box;
}

.kpis{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.kpi{
    height: 100%;
    width: 24%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #5271FF;
    display: flex;
    justify-content: center;
}


.graficos{
    margin-top: 2rem;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    
}

.grafico-linear{
    background-color: white;
    border: 1px solid #5271FF;
    height: 100%;
    width: 59%;
    border-radius: 15px;
    overflow-y: scroll;
}

.ranking-incidentes{
    background-color: white;
    border: 1px solid #5271FF;
    height: 100%;
    width: 39%;
    border-radius: 15px;
    overflow-y: scroll;
}


.ranking-incidentes .titulo , .grafico-linear .titulo {
    margin-top: 1rem;
    display: flex;  
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.tela {
    width: 87vw;
}

.lista_maquinas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista_incidentes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lista_incidentes li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 1rem;
    background-color: #DDE3FF;
    border-radius: 10px;
}

.lista_incidentes p {
    margin: 0;
    padding: 0.5rem;
}

.lista_incidentes i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 1s;
}

.lista_incidentes i:hover {
    transform: translateY(-50%);
}

.lista_incidentes  .icons {
    display: flex;
    gap: 20px;
}

.dois {
    flex-direction: column;
    align-items: center;
}

.dois p {
font-size: 2.5rem;
}

.dois h1 {
    font-size: 1.5rem;
}