body {
    display: flex;
    height: 100vh;
    width: 100%;
}

h1{
    display: flex;  
    justify-content: center;
    width: 100%;
    color:#5271FF;
    margin: 0 0 1rem 0;

}

.box_graficos_kpis{
    width: 100%;
    height: 90%;
    padding: 0 3rem;
    box-sizing: border-box;
}

.kpis{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.kpi{
    height: 100%;
    width: 24%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #5271FF;
}


.graficos{
    margin-top: 2rem;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
}

.grafico-linear{
    background-color: white;
    border: 1px solid #5271FF;
    height: 100%;
    width: 59%;
    border-radius: 15px;
}

.ranking-incidentes{
    background-color: white;
    border: 1px solid #5271FF;
    height: 100%;
    width: 39%;
    border-radius: 15px;
}

.ranking-incidentes .titulo , .grafico-linear .titulo{
    margin-top: 1rem;
    display: flex;  
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: 600;
}