body {
    height: 100vh;
    width: 100%;
}

.tamanho_dash {
    height: 94%;
    width: 94%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all .25 ease-in-out;
    /* border: 2px solid red; */
}

.container_componente {
    width: 95%;
    height: 95%;
    /* border: 2px solid red; */
}

.titulo {
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

#titulo_01 {
    font-size: 30px;
    color: #5271FF;
}

#titulo_02 {
    color: #8BA0FF;
}

#titulo_kpi {
    font-size: 20px;
    color: #555;
}

#valor_kpi {
    font-size: 25px;
}

.select-wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
    /* border: 2px solid red; */
}
  
.custom-select {
    position: relative;
    min-width: 200px;
}
  
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 8px 24px 8px 0;
    font-size: 16px;
    color: #555;
    width: 100%;
    cursor: pointer;
}
  
.custom-select::after {
    content: "▼";
    font-size: 12px;
    color: #555;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* GRÁFICOS */
.box_grafico {
    height: 56%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.box {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_grafico1, .titulo_grafico2 {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.grafico_alinhado {
    width: 49%;
}

.kpi_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #8400ff;
}

.box_kpi {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(170, 170, 170);
}

.kpi_alinhada {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

.kpi_coluna {
    height: 80%;
}

.titulo_grafico3 {
    display: flex;
    flex-direction: row;
}

.titulo_alinhado {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.tabela-scroll {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    width: 70%;
}

.tabela-alertas {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.tabela-alertas thead {
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tabela-alertas th, .tabela-alertas td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #87CEFA;
}

.tabela-alertas tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.tabela-alertas tbody tr:nth-child(odd) {
    background-color: #87CEFA;
}

.tabela-alertas small {
    color: #555;
    font-size: 0.8em;
}

.kpi_empilhada {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kpi_tabela {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(170, 170, 170);
}

.box_tabela {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}