@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", Arial;
}

body {
    overflow: hidden;
}

i {
    font-size: 22px;
}

#titulo_select {
    font-size: 20px;
}

.tela_geral {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.tela_geral_centralizada {
    height: 95%;
    width: 100%;
    margin-left: 5vw;
    align-self: center;
}

.navbar {
    height: 100%;
    width: 8%;
}

.tela_dash {
    height: 100%;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo01 {
    font-size: 38px;
}

.titulo_alinhado {
    display: flex;
    flex-direction: column;
    color: #5271FF;
}

.titulos_dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#titulo_aeroporto {
    display: flex;
    justify-content: flex-end;
    border-right: 2px solid #5271FF;
    padding-right: 10px;
}

.div_select {
    display: flex;
    flex-direction: column;
    color: #5271FF;
}

.select_alinhado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 37%;
}

/* KPI's */
#alertas_kpi_titulo {
    font-size: 32px;
}

.box_kpi {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_kpi_nivel {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}

#numero_kpi {
    font-size: 40px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
}

.taxa_kpi {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.texto_taxa {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.box_alinhada1 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box_alinhada2 {
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lateral {
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: space-between;  
}

/* GRÁFICO */
.grafico {
    height: 90%;
    width: 100%;
}

.head_grafico {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.grafico_geral {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}

/* KPI's 2 */

.box_kpi_lateral {
    background-color: #5271FF;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.box_kpi_lateral i {
    font-size: 18px;
}

.subtitulo {
    text-align: center;
}

.kpi1 {
    height: 20%;
}

.subtitulo {
    height: 35%;
}

.kpi2 {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}

.kpi3 {
    height: 63%;
    min-height: 250px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}

.titulo_barras {
    height: 15%;
    border: 2 px solid red;
}

/* 
.borda_inferior {
    width: 80%;
    height: 18%;
    border-bottom: 1px solid #fff;
} */

/* Select */
.custom-select-wrapper {
    position: relative;
    width: fit-content;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 0.7vw;
    padding-right: 3vw;
    border: none;
    border-bottom: 0.4vh solid #B0BEC5;

    font-size: 1vw;
    color: #555;
    background-color: transparent;

    background-image: url(../assets/arrow-sm-down-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right 1vw center;
    background-size: 1.2vw;

    cursor: pointer;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.10);
}

.custom-select:focus {
    outline: none;
    border-bottom: 0.25vh solid #5271FF;
}

.linha-sólida {
    height: 0.15vh;
    width: 80%;
    background-color: #fff;
    margin: 12px 10% 12px 10%;
    border-radius: 2px;
}

.apexcharts-tooltip {
  background-color: #fff !important; /* fundo branco */
  color: #000 !important;            /* texto preto */
  border: 1px solid #ccc !important;
}

.apexcharts-tooltip-text,
.apexcharts-tooltip-series-group {
  color: #000 !important; /* texto preto */
}