:root {
    --color-neutral-0: #3852c5;
    --color-neutral-10: #5271FF;
    --color-neutral-30: #ffffff;
    --color-neutral-40: #2d42a0;
    --color-neutral-50: #7a90f3;

    --color-text-1: #5271FF;
    --color-text-2: #8BA0FF;
    --color-text-3: #404040;
    --color-text-4: #21272A;

    --p-size: 1vw;
    --h1-size: 2vw;
    --h2-size: 1.5vw;

    --title-kpi-size: 1.25vw;
    --text-kpi-size: 2vw;
}

/* Variaveis para JS */
/* Cores dos fundos da lista */
.red {
    background-color: #ff000050;
}

.green {
    background-color: #00A10050;
}

.blue {
    background-color: #5271FF50;
}

/* Bola dos Indicadores */
.ball {
    width: 1vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0.125vw solid black;
}

.ball-green {
    background-color: #00A100;
}

.ball-yellow {
    background-color: #FFD900;
}

.ball-orange {
    background-color: #FF8800;
}

.ball-red {
    background-color: #FF0000;
}

/* Fim das variaveis */

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0px;
    gap: 2.5%;

    font-family: Arial, sans-serif;

    p {
        font-size: 1vw;
        margin: 0px;
    }

    h1 {
        font-size: 2vw;
        margin: 0px;
        color: var(--color-text-1);
    }

    h2 {
        font-size: 1.5vw;
        margin: 0px;
    }
}

.navigation-bar {
    background-color: #5271FF;
    width: 5%;
}

.custom-select-wrapper {
    position: relative;
    width: fit-content;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 1vw;
    padding-right: 3vw;
    /* espaço extra para a seta */
    border: none;
    border-bottom: 0.4vh solid #B0BEC5;

    font-size: 1vw;
    color: #555;
    background-color: transparent;

    background-image: url(../assets/arrow-sm-down-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right 1vw center;
    background-size: 1.2vw;

    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    border-bottom: 0.25vh solid #1976d2;
}


.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 5vh;
}

.title {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;

    p {
        color: var(--color-text-2);
    }
}

.indicators {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1vw 1vw;

    width: 100%;

    .kpi {
        padding: 1%;
        height: fit-content;
        border: 0.2vw solid #DDE1E6;

        p {
            color: var(--color-text-4);
            font-size: var(--title-kpi-size);
        }

        h2 {
            font-size: var(--text-kpi-size);
        }
    }
}

.dashboard {
    display: flex;
    gap: 2%;

    .totem-list {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: 60%;

        .box {
            display: flex;
            align-items: center;
            gap: 2vw;

            h1 {
                color: var(--color-text-1);
            }

            .legend {
                padding: 1%;
                border: 0.2vw solid #DDE1E6;
                width: 40%;

                .container {
                    display: grid;
                    grid-template-columns: 20% 20% 20% 20%;
                    grid-gap: 5%;
                    width: 100%;
                }

                .box {
                    display: flex;
                    width: fit-content;
                    flex-direction: row;
                    align-items: center;
                    gap: 5%;

                    font-style: italic;
                }
            }
        }

        p {
            color: var(--color-text-2);
            font-size: var(--p-size);
        }

        .list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1vh;

            p {
                color: black;
            }

            .header {
                display: grid;
                width: 100%;
                grid-template-columns: 10% 12% 12% 12% 12% 10% 12% 10%;
                justify-content: center;
                gap: 1.25% 1.25%;
                padding: 0vw 0.5vw;
                font-weight: bold;
            }

            .line {
                width: 100%;
                height: 0.15vh;
                background-color: var(--color-text-1);
            }

            .lines {
                display: flex;
                width: 98.5%;
                flex-direction: column;
                gap: 1vh;

                .totem {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 10% 12% 12% 12% 12% 10% 12% 10%;
                    justify-content: center;
                    align-items: center;
                    gap: 1.25% 1.25%;
                    padding: 0.5vw 0.5vw;
                    border-radius: 1vw;
                    font-weight: bold;

                    .box {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        gap: 15%;
                    }

                    p {
                        word-break: break-all;
                    }

                    button {
                        appearance: none;
                        border: 0.1vw solid black;
                        height: 100%;
                        font-weight: bold;
                        font-size: var(--p-size);
                        border-radius: 10%;
                        background: none;
                    }

                    span {
                        font-size: var(--p-size);
                    }

                }

                .red {
                    background-color: #ff000050;
                }

                .green {
                    background-color: #00A10050;
                }

                .blue {
                    background-color: #5271FF50;
                }
            }
        }
    }

    .alert-chart {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: calc(100% - 2.5% - 60%);

        p {
            color: var(--color-text-2);
        }

        .indicators {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 20%;

            p {
                color: var(--color-text-4);
            }
        }

        .graph {
            width: 95%;
        }
    }
}

/* CSS DO MODAL/FRAME DE ANALISE DO TOTEM */
.overflow-y {
    overflow: auto;
}

.main .titleFrame {
    display: grid;
    margin-top: 3vh;
    width: 100%;
    grid-template-columns: 90% 10%;
}

.main .titleFrame .rigth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .block {
    display: grid;
    width: 100%;
    overflow: hidden;

    grid-template-columns: 60% 35%;


    .child {
        display: flex;
        flex-direction: column;
        height: 85vh;
        gap: 2.5vh;

        .box-chart {
            display: flex;
            flex-direction: column;
            width: 100%;

            .chart {
                width: 100%;
            }

        }

        .list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1vh;

            p {
                color: black;
            }

            .header {
                display: grid;
                width: 100%;
                grid-template-columns: 26% 18% 18% 18% 8%;
                justify-content: center;
                gap: 1.25% 1.25%;
                padding: 0vw 0.5vw;
                font-weight: bold;
            }

            .line {
                width: 100%;
                height: 0.15vh;
                background-color: var(--color-text-1);
            }

            .lines {
                display: flex;
                width: 98.5%;
                flex-direction: column;
                gap: 1vh;

                .totem {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 10% 12% 12% 12% 12% 10% 12% 10%;
                    justify-content: center;
                    align-items: center;
                    gap: 1.25% 1.25%;
                    padding: 0.5vw 0.5vw;
                    border-radius: 1vw;
                    font-weight: bold;

                    .box {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        gap: 15%;
                    }

                    p {
                        word-break: break-all;
                    }

                    button {
                        appearance: none;
                        border: 0.1vw solid black;
                        height: 100%;
                        font-weight: bold;
                        font-size: var(--p-size);
                        border-radius: 10%;
                        background: none;
                    }

                    span {
                        font-size: var(--p-size);
                    }

                }

                .red {
                    background-color: #ff000050;
                }

                .green {
                    background-color: #00A10050;
                }

                .blue {
                    background-color: #5271FF50;
                }
            }
        }

        .list1 {
            display: grid;
            grid-template-columns: 15% 15% 15% 15% 30%;
            grid-gap: 2%;
            grid-row-gap: 10%;
        }

        .list2 {
            display: grid;
            grid-template-columns: 30% 31% 33%;
            grid-gap: 2%;
        }
    }

    .kpi {
        width: 100;
        display: flex;
        padding: 2vh 0vh;
        flex-direction: column;
        border: 0.2vw solid #DDE1E6;
        justify-content: center;
        align-items: center;

        p {
            color: var(--color-text-4);
            font-size: var(--title-kpi-size);
        }

        h2 {
            font-size: 1.5vw;
        }
    }
}


/* CLOSE BUTTON */

.button {
    position: relative;
    width: 4em;
    height: 4em;
    border: none;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
    cursor: pointer;

}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
    cursor: pointer;

}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
    cursor: pointer;
}

.close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(211, 21, 21);
}

.button:active {
    background-color: rgb(130, 0, 0);
}

.button:hover>.close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes close {
    100% {
        opacity: 0;
    }
}