body {
    height: 100vh;
    width: 89vw;
}

.box_geral {
    margin-left: 11vw;
    display: flex;
    flex-direction: row;
}

.box_esquerda{
    /* border: 1px solid blue; */
    height: 99vh;
    width: 47vw;
}

.box_direita {
    /* border: 1px solid green; */
    height: 99vh;
    width: 46vw;
    margin-left: 4vh;
}

.box_geral_direita{
    outline: 1px solid #a8a8a8; 
    outline-offset: 4px;
    border-radius: 10px;
    height: auto;
    width: 42vw;
    margin-right: 1vw;
    margin-top: 10vh;
    padding: 10px 0px 0px 0px;
}

.grafico_pix{
    margin-top: 50px;
    justify-items: center;
}

.grafico_pix img{
    height: 70%;
    width: auto;
}

.div_titulo1{
    /* border: 1px solid red; */
    color: #0026D6;
}

.div_titulo1 h1{
    font-size: 2vw;
}

.div_titulo2 h1{
    font-size: 2vw;
}

.div_selects {
    display: flex;
    flex-direction: row;
    /* border: 2px solid violet; */
    justify-content: center;
}

.div_slcFil{
    /* border: 1px solid black; */
    width: 15vw;
    height: 4vh;
    text-align: center;
    
    
}

.div_kpis {
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    margin-top: 4vh;
}

.kpi_caixa {
    background-color: #5271FF;
    color: white;
    padding: 1vh 2vw;
    width: calc((100% - 2vw) / 3);
    height: 14vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
}

.kpi_titulo {
    text-align: center;
    font-size: 0.9vw;
    margin: 0;
}

.kpi_linha {
    width: 80%;
    border: 0.5px solid white;
    margin: 0.5vh 0;
}

.kpi_valor {
    font-weight: bold;
    margin: 0;
}

.kpi_valor h1 {
    display: inline-block;
    font-size: 2vw;
}

.box_esquerdaBaixo{
    /* border: 1px solid red; */
    margin-top: 3vh;
    height: 66vh;
}

.div_titulo2 {
    /* border: 1px solid black; */
    color: #0026D6;
}

.div_dashboard{
    outline: 1px solid #a8a8a8; 
    outline-offset: 4px;
    border-radius: 10px;
    margin-top: 2vh;
    height: 54vh;
}

.div_titulo3 h2{
    font-size: 1.6vw;
}

.div_titulo3 {
    /* border: 1px solid black; */
    font-size: 2.5vh;
    color: #0026D6;
    text-align: center;
    /* margin-top: 15vh; */
}

.div_legenda {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
    align-items: center;
}

.box_check {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    font-weight: bold;
}

.box_check input[type="checkbox"] {
     display: none;
}

.check_box_suficiente,
.check_box_mediano,
.check_box_insuficiente,
.check_box_critico {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
}

.check_box_suficiente {
    background-color: #74c074;
}

.check_box_mediano {
    background-color: #EBEB00;
}

.check_box_insuficiente {
    background-color: #DE2828;
}

.check_box_critico {
    background-color: #8537C8;
}

.checkbox-text {
    text-align: center;
    width: 125px;
    font-size: 1vw; /* A padronização diz pra colcoar como 1.25, mas achei esse melhor*/
}


.filtro {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    transition: all 0.2s ease;
    position: relative;
}

.filtro.selecionado {
    color: #010176;
    background-color: rgba(1, 1, 118, 0.1);
    color: #010176;
}

.filtro.selecionado::after {
    content: ''; 
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #010176;
}

.div_botaoCSV {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}


.div_botaoCSV button {
    background-color: #010176;
    color: white;
    font-weight: bold;
    padding: 1vh 1.4vw;
    border: none;
    border-radius: 10px;
    font-size: 1.8vh;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    line-height: 1.3;
}

.div_botaoCSV button:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}

.tabela_cabecalho {
    display: flex;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #010176;
}

.coluna {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.tabela_conteudo {
    max-height: 55vh;
    /* overflow-y: auto; */
}


/* Cores dos fundos da lista */
.red {
    background-color: #ff000050;
}

.green {
    background-color: #00A10050;
}

.blue {
    background-color: #5271FF50;
}

/* Bola dos Indicadores */
.ball {
    width: 1vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0.125vw solid black;
}

.ball-green {
    background-color: #00A100;
}

.ball-yellow {
    background-color: #FFD900;
}

.ball-orange {
    background-color: #FF8800;
}

.ball-red {
    background-color: #FF0000;
}

.div_listaMaq{
    height: 65vh;
    padding: 0px 10px 0px 10px;
    overflow-y: auto;
}

.div_listaMaq::-webkit-scrollbar {
    width: 15px;
    margin-left: 20vw;
}

.div_listaMaq::-webkit-scrollbar-track {
    background: rgba(65, 65, 255, 0.5);
}

.div_listaMaq::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 123, 0.7);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 255, 1);
}


.tabela_cabecalho {
    display: flex;
    font-weight: bold;
    background-color: #f0f0f0;
}

.tabela_conteudo {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 1vh;
}

.totem {
    display: flex;
    padding: 8px;
    /* border-bottom: 1px solid #ccc; */
}

.coluna {
    flex: 1;
    text-align: center;
}

.totem.purple {
    background-color: #8537C85B;
    /* border: 2px solid rgba(255, 0, 0, 1); */
    border-radius: 15px;
}

.totem.red {
    background-color: #DE28285B;
    /* border: 2px solid rgba(255, 0, 0, 1); */
    border-radius: 15px;
}

.totem.yellow {
    background-color: #DEC8285B;
    /* border: 2px solid rgba(241, 196, 15, 1); */
    border-radius: 15px;
}

.totem.green {
    background-color: #00A1005B;  /* os ultimos 2 digitos são opacidade*/
    /* border: 2px solid rgba(0, 170, 0, 1); */
    border-radius: 15px;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 0.5vw;
    padding-right: 3vw;
    border: none;
    border-bottom: 0.4vh solid #B0BEC5;

    font-size: 1vw;
    color: #555;
    background-color: transparent;

    background-image: url(../assets/arrow-sm-down-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right 1vw center;
    background-size: 1.2vw;

    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    border-bottom: 0.25vh solid #1976d2;
}

.button {
    position: relative;
    width: 4em;
    height: 4em;
    border: none;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
    cursor: pointer;

}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
    cursor: pointer;

}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
    cursor: pointer;
}

.close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(211, 21, 21);
}

.button:active {
    background-color: rgb(130, 0, 0);
}

.button:hover>.close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes close {
    100% {
        opacity: 0;
    }
}

