body {
    height: 100vh;
    width: 100%;
}

:root{
    --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}

h1{
    font-size: 1.6vw !important;
}

.titulo_kpi{
    text-align: center;
}

.titulo_kpi:after{
    border-bottom: 1px solid #ffffff;
    content: '';
    display: block;
    width: 90%;
    margin-left: 5%;
}

h3{
    font-size: 1.4vw !important;
}

.tamanho_dash {
    height: 100%;
    margin-left: 0%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all .25 ease-in-out;
}

.container_componente {
    width: 95%;
    height: 50%;
}

.titulo {
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#titulo_01 {
    font-size: 20px;
    color: #5271FF;
    font-weight: bold;

}

#titulo_02 {
    color: #8BA0FF;
    font-size: 19px;

}

.select-wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 25px;
}
  
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 1vw;
    padding-right: 3vw;
    /* espaço extra para a seta */
    border: none;
    border-bottom: 0.4vh solid #B0BEC5;

    font-size: 1vw;
    color: #555;
    background-color: transparent;

    background-image: url(../assets/arrow-sm-down-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right 1vw center;
    background-size: 1.2vw;

    cursor: pointer;
}
  
.custom-select::after {
    content: "▼";
    font-size: 12px;
    color: #555;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* GRÁFICOS */
.box_grafico {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.box {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo_grafico1{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.grafico_alinhado {
    width: 60%;
    align-items: start;
    justify-content: start;
}

.box_kpi {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
    border: 0;
    height: 8vw;
}

.kpi_tabela {
    display: flex;
    width: 23%;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: #5271FF;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.titulo_grafico3 {
    display: flex;
    flex-direction: row;
}

.titulo_alinhado {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.box_tabela {
    width: 100%;
    font-size: 1rem;
}

.tabela-alertas {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
  }
  
  .tabela-alertas td, .tabela-alertas th {
    border: 1px solid black;
  }
  
  /* Canto superior esquerdo */
  .tabela-alertas tr:first-child th:first-child {
    border-top-left-radius: 12px;
  }
  
  /* Canto superior direito */
  .tabela-alertas tr:first-child th:last-child {
    border-top-right-radius: 12px;
  }
  
  /* Canto inferior esquerdo */
  .tabela-alertas tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
  }
  
  /* Canto inferior direito */
  .tabela-alertas tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
  }
  

.tabela-scroll {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    width: 100%;
}

.tabela-alertas {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.tabela-alertas thead {
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #5271FF;
    
}

.tabela-alertas th, .tabela-alertas td {
    text-align: left;
    padding: 12px;
    border-bottom: 0;
}

.tabela-alertas tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.tabela-alertas tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.tabela-alertas small {
    color: #555;
    font-size: 0.8em;
}