@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-neutral-0: #3852c5;
    --color-neutral-10: #5271FF;
    --color-neutral-30: #ffffff;
    --color-neutral-40: #2d42a0;
    --color-neutral-50: #7a90f3;

}

* {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.link {
    text-decoration: none;
}

#footerConteudo {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 3.5rem;
}

#footerConteudo .lista h3 {
    font-style: italic
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.lista .link {
    color: var(--color-neutral-30);
    cursor: pointer;
    transition: all 0.2s;
}

#footerContato {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footerContato p {
    color: var(--color-neutral-30);
}

#footerContato h3 {
    font-style: italic
}

#inputContato {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-30);
    border-radius: 4px;
}

#inputContato input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: var(--color-neutral-40);
}

#inputContato button {
    background-color: var(--color-neutral-50);
    border: none;
    color: var(--color-neutral-30);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#inputContato button:hover {
    opacity: 0.8;
}

#footerInnovaAir {
    font-style: italic;
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: var(--color-neutral-30);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

.homeInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
}

.sloganHome {
    text-align: center;
    color: #5271FF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.homeInfo h1{
    padding: 0%;
    font-size: 2rem;
    font-style: italic;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 30%;
    margin-top: 4rem;
    position: absolute;
    text-shadow: 0px 0px 15px #5272ff91;
}

.imgHome{
    max-height: 200%;
    max-width: 200%;
    position: absolute;
    justify-self: center;
    z-index: -99999;
    height:-50vh
    width: 100vw;
    margin-top: 20rem;
}

.blackFilter{
    max-height: 200%;
    max-width: 200%;
    position: absolute;
    justify-self: center;
    z-index: -99998;
    height: 140%;
    width: 100.60%;
    margin-top: 5rem;
    margin-left: -0.7rem;
    filter: opacity(60%);
}

.logoHome{
    max-width: 100%;
    max-height: 100%;
    height: 27%;
    width: 18%;
    margin-bottom: 8rem;
}

.divLine{
    background-color: #5271FF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

.sobreNosInfo{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 40px;
    
}

.sobreNosInfo p{
    max-width: 70%;
    
}

.sobreNosComputerInfo {
    overflow:visible;
    display: flex;
    justify-content: center;
    width: 94vw;
    align-items: center;
    margin: 20px;
}

.sobreNosCardCPU{
    margin-top: 2rem;
    background-color: #5271FF;
    border: 1px solid #3c54bd;
    width: 20%;
    border-radius: 2rem;
    height: 255px;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    align-items: center;
    box-shadow: 15px 15px 20px #2d42a046;
    transition: all 0.3s ease-in-out;
}

.sobreNosCardCPU:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: hand;
}



.sobreNosCardRAM{
    margin-top: 2rem;
    background-color: #5271FF;
    border: 1px solid #3c54bd;
    width: 20%;
    border-radius: 2rem;
    height: 255px;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    align-items: center;
    box-shadow: 15px 15px 20px #2d42a046;
    transition: all 0.3s ease-in-out;
}

.sobreNosCardRAM:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: hand;
}

.sobreNosCardDISCO{
    margin-top: 2rem;
    background-color: #5271FF;
    border: 1px solid #3c54bd;
    width: 20%;
    border-radius: 2rem;
    height: 255px;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    align-items: center;
    box-shadow: 15px 15px 20px #2d42a046;
    transition: all 0.3s ease-in-out;
}

.sobreNosCardDISCO:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: hand;
}

.sobreNosCardATV{
    margin-top: 2rem;
    background-color: #5271FF;
    border: 1px solid #3c54bd;
    width: 20%;
    border-radius: 2rem;
    height: 255px;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    align-items: center;
    box-shadow: 15px 15px 20px #2d42a046;
    transition: all 0.3s ease-in-out;
}

.sobreNosCardATV:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: hand;
}


#tituloSobreNos{
    font-style: italic;
    font-size: 3rem;
    color: white;
    margin: 1.5rem;
    margin-top: -2rem;
    text-shadow: 4px 4px 0px #2d42a0;
}



.componentesInfo{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.componentesInfo h4{
    margin-bottom: 1rem;
}

.cardSolucao {
    background-color: white;
    border: 1px solid #dadada;
    max-width: 80%;
    border-radius: 2rem;
    padding: 3rem;
    padding-top: 3rem;
    margin: 5rem auto; 
    box-shadow: 15px 15px 20px #2d42a046;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#tituloNossaSolucao{
    font-style: italic;
    text-shadow: 3px 3px 0px #b8b8b8;
    color: var(--color-neutral-0);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.nossaSolucao{
    text-align: center;
}

@media screen and (max-width: 768px) {
    #footerConteudo {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .homeInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40rem;
    }
    
    .homeInfo h1{
        padding: 0%;
        font-size: 2rem;
        font-style: italic;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 20%;
        position: absolute;
        text-shadow: 0px 0px 15px #5272ff91;
    }
    
    .imgHome {
        max-width: 100vw !important; /* Força a largura total da tela */
        max-height: 100vh !important; /* Força a altura total da tela */
        width: 100vw !important;
        height: 440vh !important;
        object-fit: cover !important; /* Garante que a imagem cubra o espaço sem distorcer */
        position: absolute !important; /* Mantém fixo na tela */
        top: 0;
        left: 0;
        z-index: -99999;
        margin-top: 27%;
        
    }
    
    .blackFilter{
        max-width: 200vw !important; /* Força a largura total da tela */
        max-height: 100vh !important; /* Força a altura total da tela */
        width: 100vw !important;
        height: 70vh !important;
        object-fit: cover !important; /* Garante que a imagem cubra o espaço sem distorcer */
        position: absolute !important; /* Mantém fixo na tela */
        top: 0;
        left: 0;
        z-index: -99998;
        margin-top: 27%;
        filter: opacity(60%);
        overflow-x: hidden;
    }
    
    .logoHome{
        max-width: 50%;
        max-height: 50%;
        height: 10%;
        width: 5%;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    #tituloSobreNos{
        font-style: italic;
        font-size: 1.5rem;
        color: white;
        margin: 1.5rem;
        margin-top: 2rem;
        text-shadow: 4px 4px 0px #2d42a0;
    }
}

@media screen and (max-width: 768px) {
    .sobreNosCardCPU{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
    
    .sobreNosCardRAM{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
    
    .sobreNosCardDISCO{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
    
    .sobreNosCardATV{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
}

@media screen and (max-width: 426px) {
    #footerConteudo {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 426px) {
    #tituloSobreNos{
        font-style: italic;
        font-size: 1.5rem;
        color: white;
        margin: 1.5rem;
        margin-top: 2rem;
        text-shadow: 4px 4px 0px #2d42a0;
    }
}

@media screen and (max-width: 426px) {
    .sobreNosCardCPU{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
    
    .sobreNosCardRAM{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
    
    .sobreNosCardDISCO{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-right: 5rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
    
    .sobreNosCardATV{
        background-color: #5271FF;
        border: 1px solid #3c54bd;
        max-width: 80%;
        border-radius: 2rem;
        padding: 3rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        box-shadow: 15px 15px 20px #2d42a046;
    }
}
