@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;

  background: rgb(238, 244, 255);
  background: -moz-linear-gradient(
    144deg,
    rgba(238, 244, 255, 1) 37%,
    rgba(175, 190, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    144deg,
    rgba(238, 244, 255, 1) 37%,
    rgba(175, 190, 255, 1) 100%
  );
  background: linear-gradient(
    144deg,
    rgba(238, 244, 255, 1) 37%,
    rgba(175, 190, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eef4ff",endColorstr="#afbeff",GradientType=1);

}

.barra_lateral {
  display: flex;
  flex-direction: column;
  width: 13vw;
  height: 100vh;
  /* position: fixed; */
  /* background-color: brown; */
  background: rgb(82, 113, 255);
  background: linear-gradient(
    45deg,
    rgba(152, 170, 255, 1) 25%,
    rgba(82, 113, 255, 1) 57%
  );

  .fechar_barrinha {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* background-color: green; */

    .container {
      width: 15px;
      height: 15px;
      margin: 0;
      margin-right: 5%;
      /* background-color: red; */

      .Icon {
        width: 100%;
        height: auto;
      }
    }
  }

  .logo_container {
    width: 100%;
    height: 15%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */

    img {
      width: 50%;
      height: auto;
    }
  }
  .opcoes {
    width: 100%;
    height: 60vh;
    /* background-color: chartreuse; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;

    .container1 {
      width: 100%;
      height: 20vh;
      /* background-color: grey; */
      display: flex;
      justify-content: center;

      u {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        /* background-color: blueviolet; */

        li {
          /* text-align: center; */

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    .container2 {
      /* background-color: red; */
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      text-decoration: none;

      u {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;

        li {
          /* background-color: blueviolet; */
          text-align: center;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.painel {
  width: 100%;
  height: 100%;
  /* background-color: rgb(123, 202, 20); */
  display: flex;
  flex-direction: column;

  .logo_container {
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 20vw;
    height: 10vh;
    color: #5271ff;

    h2 {
      margin: 50px;
      margin-right: 15px;
    }
    img {
      width: auto;
      height: 35px;
    }
  }
  .painel_container {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 85vw;
      height: 85vh;
      /* background-color: aquamarine; */
      background-color: #ffffff;
      border-radius: 50px;
      overflow-y: auto;
      overflow-y: scroll;
    }
  }
}
