:root {
    --color-neutral-0: #3852c5;
    --color-neutral-10: #5271FF;
    --color-neutral-30: #ffffff;
    --color-neutral-40: #2d42a0;
    --color-neutral-50: #7a90f3;

    --color-text-1: #5271FF;
    --color-text-2: #404040;
    --color-text-3: #404040;
    --color-text-4: #21272A;

    --p-size: 1.25vw;
    --h1-size: 2vw;
    --h2-size: 1.5vw;

    --title-kpi-size: 1.25vw;
    --text-kpi-size: 2vw;
}

body {
    z-index: 2;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.containerLista {
    width: 90%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* .cedula{
    grid-template-columns: max-content 1fr max-content max-content;
    display: grid;
    border: solid navajowhite 1px;
}

.tituloLista{
        grid-template-columns: max-content max-content max-content max-content;
    display: grid;
    border: solid navajowhite 1px;
} */

span {
    font-size: 1.4vw;
}

.itemLista {
    font-weight: 700;

}

.linha {
    display: grid;
    grid-gap: 2%;
    border-radius: 5px;
    min-height:40px;
    align-items: center;
    margin-top: 1%;
    grid-row-gap: 10%;
    grid-template-columns: 6fr 10fr 2fr 3fr;
    background-color: #ffffff;
    border: solid #5271ff;
}

.gridTitulo{
    display: grid;
    font-weight: bold;
    grid-gap: 2%;
    width:95%;
    grid-row-gap: 10%;
    grid-template-columns: 6fr 10fr 2fr 3fr;
    border-bottom: solid 3px #7a90f3;
}


.kpiLegendas {
    display: flex;
    margin-bottom: 3px;
    border: #555 0.5px solid;
    background-color: #dadada;
    width: fit-content;
    padding-inline: 20px;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    font-size: 1em;

    padding: 1%;
    gap: 3em;
    border: 0.2vw solid #7a92ff;
    width: 100%;

}

.bolinhaKPI {
    margin-inline: 5px;
    width: 2vw;
    height: 2vw;
    border-radius: 20px;
    border: solid 3px black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 0.5fr;
    justify-content: center;
    margin: 5px;
    border: solid 1px black;
    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 1em;

}




.child {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    gap: 2rem;
    padding-inline: 2%;



}

.popUp {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.shadow {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 120vh;
    background-color: black;
    opacity: 40%;
}

.mainPopup {

    z-index: 2;
    width: 30%;
    height: 40%;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 6px);
    flex-direction: column;

    >.fecharButton {
        height: 1.7em;
        cursor: pointer;
        z-index: 10;
        right: 0;
        left: 1;
        top: 0;
        bottom: 1;
        padding: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
    }
}

.sectionH {
    flex-grow: 1;
    margin: 1px;
    align-items: center;
    justify-content: center;
    background-color: #7a92ff;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.sectionV {
    margin: 2px;
    background-color: white;
    height: 99%;
}

.specsModelo {
    margin-left: 10px;
    font-size: larger;
}

.modeloTitulo {
    font-weight: 600;
    align-self: center;
    font-size: 150%;
    margin-left: 10px;
}

.modeloSubtitulo {

    position: absolute;
    font-weight: 500;
    font-size: 130%;
    margin-left: 10px;

}

.section1 {
    
    border: 1px solid #0026D6;
    border-radius: 5px;
    border: solid rgb(0, 0, 0) 1px;
    height: 100%;
    flex-direction: column;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.listaModelos {
    align-items: flex-start;
    overflow-y: scroll;
    justify-content: center;
    height: 100%;
}

.barraAlertas {
    border: solid 2px rgb(39, 39, 39);
    border-radius: 40px;
    display: flex;
    align-self: center;
    height: 80%;
    overflow: hidden;
    background-color: rgb(218, 218, 218);
}

/* efeito ao colocar o mouse em cima da barra (inutilizado por enquanto) */
/* .hoverBarra{
    transition: 0.1s;
}
.hoverBarra:hover{
    filter:contrast(50%);
} */

.tituloContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-weight: 700;
    font-size: xx-large;
    color: #0026D6;

}

#alertas_kpi_titulo {
    font-size: 30px;
    color: #0026D6;

}

.subtituloContainer {
    display: flex;
    gap: 1%;
    flex-direction: column;
}



.section1 select {
    width: 100%;
}

.subSection2 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 5%;
}



.grafico {
    width: 100%;
    height: 300px;
    min-height: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.titulo {
    color: #8BA0FF;
}

.section2 {

    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.scrollLog {
    width: 100%;
    height: 80%;
    overflow-x: auto;
    overflow-y: scroll;

}


.selects {
    align-items: center;
    top: 40%;
    justify-content: space-evenly;
    display: flex;
    width: 60%;
}

.selectBox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 0.7vw;
    padding-right: 10em;
    max-width: 300px;
    min-width: none;
    border: none;
    border-bottom: 0.4vh solid #B0BEC5;

    font-size: 15px;
    color: #555;
    background-color: transparent;

    background-image: url(../assets/arrow-sm-down-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right 1vw center;
    background-size: 1.2vw;

    cursor: pointer;



    .scrollLog::-webkit-scrollbar-thumb {
        background-color: #8BA0FF;
    }

    .scrollLog::-webkit-scrollbar-button {
        display: none;
        height: 0;
        width: 0;
    }




    @media (max-width: 768px) {
        .container {
            margin-left: 0;
        }

        .barra_lateral {
            display: none;

        }

        .child {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem;
            overflow-y: scroll;
        }

        .section1,
        .section2 {
            width: 100%;
            gap: 3rem;
            font-size: 1.2rem;
        }

        .section1 p,
        .section2 p {
            margin: 0;
        }

        .section1 select {
            width: 100%;
        }



        .InformacaoTotens {
            display: flex;
            justify-content: flex-start;
        }

        .tabela table {
            width: 100%;

        }

        .titulo {
            margin: 0;
        }
    }
}

#titulo_select {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: #0026D6;

}

/* Grid maquinas */
.grid-maquinas {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;

    width: 100%;
    height: fit-content;
    min-width: 1%;
    gap: 5%;
}

.maquina-generic {
    display: flex;
    flex-direction: column;

    width: calc(100% - 5%);
    height: fit-content;

    border: #DDE1E6 2px solid;
    padding: 5% 5%;
    gap: 1vh;
}

.maquina-generic p {
    width: 100%;
}

/* Especificação da maquina selecionada */

.componentsContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 100%;
    height: 100%;
    gap: 5%;
    height: fit-content;
}

.componentBucket {
    display: flex;
    height: fit-content;
    flex-direction: column;
    border: #DDE1E6 2px solid;
    padding: 2% 2%;
    gap: 2.5vh;
}

.componentBucket #componentName {
    font-weight: 600;
    font-size: 1.25vw;
}


.componentDiv {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1vh 1vw;
    gap: 1vh;

    border: #DDE1E6 2px solid;
}

.list-options {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20%;
}

/* Botões */

.exibir-metricas {
    background-color: #D9D9D9;
    color: #697077;
    width: fit-content;
    padding: 0.5vw;
    border-radius: 1vw;
}

.editar-metrica {
    background-color: #FF9C9C;
    padding: 0.5vw;
    border-radius: 1vw;
}

.remover-metrica {
    background-color: #D9D9D9;
    padding: 0.5vw;
    border-radius: 1vw;
}

.confirmar-edicao-metrica {
    background-color: #D9D9D9;
    padding: 0.5vw;
    border-radius: 1vw;
}

/* modal */

.modalEditar {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 25vw;
    background-color: #fff;
    left: calc(50% - 15vw);
    top: calc(25%);
    animation-name: animatetop;
    animation-duration: 0.4s;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 2vw;
    gap: 1vh;
    z-index: 10;
    border: #DDE1E6 2px solid;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: calc(25%);
        opacity: 1
    }
}

.container-modal {
    display: flex;
    flex-direction: row;
    width: 25vw;
    height: min-content;
    gap: 10vw;

    span {
        width: fit-content;
        font-size: 1.4vw;
        font-weight: 600;
    }

    img {
        width: auto;
        height: 100%;
    }
}

.title-component {
    font-weight: 500;
}

.container-update {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.row-modal {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1vw;
}