body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.CommumText {
    color: #5271FF;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
}

.box_cadastros{
    width: 100%;
    padding: 0 3rem;
    box-sizing: border-box;
}

.Caixa {
    height: 80%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #9e9e9e;
    padding: 15px;
    margin-bottom: 10%;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
}

.imagem {
    background-color: gray;
    height: 121px;
    width: 200px;
}

.Caixa h2 {
    color: #8BA0FF;
    margin-bottom: 0;
}

.TextBox {
    margin-bottom: 3%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.coluna .TextBox span {
    color: #9e9e9e;
    font-size: 14px;
}

.coluna span {
    color: #5271FF;
    font-size: 14px;
    margin-bottom: 1%;
}

.InputsCadastro {
    display: flex;
}

.InputsCadastro .coluna {
    width: 100%;
}

.coluna input {
    border: 1px solid #8BA0FF;
    border-radius: 5px;
    height: 26px;
    margin-bottom: 1%;
}

.botoes {
    display: flex;
    margin: 1%;
    align-items: center;
    align-self: center;
}

.botoes button {
    border: none;
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #8BA0FF;
    width: 150px;
    height: 100%;
    padding: 7%;
}

.resposta{
    color: #5271FF;
    font-size: 14px;
}

.adicionarDisp {
    display: none;
}

.cadastrarDisp {
    display: flex;
}

.adicionarColab {
    display: flex;
}

.cadastrarColab {
    display: none;
}

.dispositivo {
    display: block;
}

.colaborador {
    display: none;
}

@media screen and (max-width: 768px) {
    .Caixa {
        flex-direction: column;
    }

    .coluna {
        flex-direction: column;
    }

    .InputsCadastro {
        flex-direction: column;
    }

    .botoes {
        flex-direction: column;
    }

    .coluna input {
        margin-right: 3%;
    }

    body {
        display: block;
    }

    .tela-movida {
        margin-left: 0;
    }

}