body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: #fff;
    color: #001;
}
.card-alert {
    color: white;
    text-align: center;
    padding: 1rem;
    border: 2px solid #ffffff;
    background-color: #7A92FF;
}
.no-gap-row {
    margin-right: 0;
    margin-left: 0;
}
.no-gap-row > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
