@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.formulario{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizar_box{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.box_forms{
    border-radius: 15px;
    height: 100%;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.estrutura_forms{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
}

h1{
    display: flex;  
    justify-content: center;
    width: 100%;
    color:#5271FF;
    margin: 0 0 1rem 0;
}

.boxes_inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.estrutura_forms input , textarea{
    height: 45px;
    border-radius: 10px;
    background-color: #efefef;
    outline-color: rgb(82, 113, 255);
    box-sizing: border-box;
    padding: 5px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    border: 1px black solid;

}

.estrutura_forms label{
    font-size: 18px;
}

.estrutura_forms button{
    margin-top: 2rem;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    height: 45px;
    background-color: rgb(82, 113, 255);
    border-radius: 10px;
    border: none;
    color: white;
    transition: 0.3s all;
}

.estrutura_forms button:hover{
    background-color: rgb(58, 94, 255);

}

textarea{
    height: 100%;
    font-size: 20px;
    margin:0 ;    
    border-radius: 8px;
    background-color: #efefef;
    outline-color: rgb(82, 113, 255);
    resize: none; /* Impede o redimensionamento */
    box-sizing: border-box;
    padding: 5px;
    font-family: "Rubik", sans-serif;
}