

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    

}

.child {
    overflow-x: auto;
    overflow-y: hidden;
    width: 80%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    gap: 2rem;


}

.tituloContainer {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 700;
    font-size: xx-large;
    color: #5573ff;

}

.subtituloContainer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 400;
    font-size: medium;
    font-style: italic;
    color: #8BA0FF;
    margin-left: 30p;
    display: flex;
    flex-direction: column;


}

.selectFilial{
    
}

.listaMaquinas {
    gap: 2%;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 60%;
    display: flex;
    overflow-y: auto;

}


.scrollMaquinas {
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 9px;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    overflow-y: scroll;

}

.secaoMaquinas {
    width: 100%;
    margin-top: 5px;
    height: 4vh;
    border-radius: 10px;
    background-color: #dde3ff;
    gap: 0.2%;
    flex-direction: row;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.bola {
    height: 10px;
    width: 10px;
    background-color: green;
    margin-right: 5px;
    border-radius: 50%;
}

.legendasMaquinas {
    width: 100%;
    border-bottom: solid 2px #5573ff;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    gap: 0.2%;
    flex-direction: row;
}

.maquinaLegenda {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 13px;
    margin-left: 4px;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
}



.section1 {
    margin-top: 100px;
    position: absolute;
    height: 80%;
    width: 80vw;
    flex-direction: column;
    display: flex;
}

.section1 select {
    width: 100%;
}

.subSection1 {
    margin-top: 5vh;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 1%;
    gap: 1%;
    width: 100%;



}

.subSection2 {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    height: 50%;
    gap: 50px;
}



.grafico {
    width: 100%;
    height: 300px;
    min-height: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.titulo {
    color: #8BA0FF;
}

.section2 {

    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.InformacaoTotens {

    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.InformacaoAlertas{
    height: 100%;
    width: 60%;
    background-color: #5573ff;
}

.graficoAlertas{
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

.alertasLog{
    width: 35%;
}
#dados {

    height: 30%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#graficoPizzas {
    border: solid, 2px, lightgray;
    min-width: 30%;
    width: 80%;
    height: 30%;
    overflow: hidden;
    

}

.totemTitulo {

    padding-left: 1%;
    margin: 1%;
    border: 2px solid lightgray;
    background-color: white;
    height: 60%;
    width: 97%;
    margin-inline: 2%;
    font-size: 90%;
    color: gray;
    justify-content: center;
    display: flex;
    flex-direction: column;



}

#totemDado {
    margin-left: 4%;
    font-weight: 600;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 180%;
    color: black;
}

.TotensQTD {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.scrollLog{
    width: 100%;
    height: 80%;
    overflow-x: auto;
    overflow-y: scroll;
    
}

.secaoLog {


    align-items: center;
    align-self: center;
    background-color: #dde3ff;
    display: flex;
    width: 100%;
    height: 4vh;
    flex-shrink: 0;
    border-radius: 14px;
    text-overflow: ellipsis;
}

.secaoLog .logMaquina {}

.secaoLog .logNivel {}

.secaoLog .logComponente {}

.secaoLog .logMomento {}

.selects {
    align-items: center;
    top: 40%;
    justify-content: space-evenly;
    display: flex;
    width: 60%;
}

.selectBox {
    color: gray;
    height: 40px;
    min-width: 40%;
    max-width: 70%;


 scrollLog{
        overflow-y: scroll;
        gap: 2%;
        display: flex;
        height: 100%;
        width: 30%;
        flex-direction: column;

    }

    .scrollLog::-webkit-scrollbar-thumb {
        background-color: #8BA0FF;
    }

    .scrollLog::-webkit-scrollbar-button {
        display: none;
        height: 0;
        width: 0;
    }


    .tabela table {
        text-align: center;
        height: 50%;
        border: 1px solid #8BA0FF;
    }

    .tabela td,
    th {
        border: 1px solid #8BA0FF;
    }


    @media (max-width: 768px) {
        .container {
            margin-left: 0;
        }

        .barra_lateral {
            display: none;

        }

        .child {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem;
            overflow-y: scroll;
        }

        .section1,
        .section2 {
            width: 100%;
            gap: 3rem;
            font-size: 1.2rem;
        }

        .section1 p,
        .section2 p {
            margin: 0;
        }

        .section1 select {
            width: 100%;
        }



        .InformacaoTotens {
            display: flex;
            justify-content: flex-start;
        }

        .tabela table {
            width: 100%;

        }

        .titulo {
            margin: 0;
        }
    }
}