body {
    display: flex;
}


.child {

    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    overflow-y: auto;
    height: 100vh;
    width: 85%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 15%;
}

.content {
    height: 100vh;
    width: 90%;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;

}

#graficosExpandir{
    
    width: 100%;
    min-height: 1%;
    max-height:70%;
    overflow:hidden;
    display: flex;
    
    
}

#graficosExpandirCPU{
     
    width: 100%;
    min-height: 1%;
    max-height:70%;
    overflow:hidden;
    display: flex;

}

#graficosExpandirRAM{
     
    width: 100%;
    min-height: 1%;
    max-height:70%;
    overflow:hidden;
    display: flex;

}

#graficosExpandirRede{
     
    width: 100%;
    min-height: 1%;
    max-height:70%;
    overflow:hidden;
    display: flex;

}

#graficosExpandirDisco{
     
    width: 100%;
    min-height: 1%;
    max-height:70%;
    overflow:hidden;
    display: flex;

}


.Expandir {
    margin-top: 4%;
    position: absolute;
    border-radius: 3px;
    width: 80vw;
    height: 90vh;
    align-self: center;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: whitesmoke;
    z-index: 4;

}

#fecharExpandir{
    filter: drop-shadow(0.5px 0.5px 1px #394785);
    position: absolute;
    background-color: #5573ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width:40px;
    top: 0;
    right: 0;
    margin: 5px;
    border-radius: 9px;
    border: #5573ff solid;
    transition: all 0.05s ;
    filter: brightness(100%);
}

#fecharExpandir:hover{
    filter: brightness(120%);
    
}

#fecharExpandir:active{
    scale: 0.95;
}

#fecharExpandir img{
    height: 80%;
    
}

.expandirComponente {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   
    border: solid gray 1px;
    height: 90%;
    width: 48%;
}

.expandir1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    height: 50%;
}

.expandir2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
   
}

.conteudo-principal {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0;
}

.conteudo-principal.menu-aberto {
    margin-left: 13vw;
    /* Igual à largura do menu */
}

.tituloContainer {
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 150%;
    color: #5573ff;

}

.subtituloContainer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 400;
    font-size: medium;
    font-style: italic;
    color: #8BA0FF;

    display: flex;
    flex-direction: column;


}

.listaMaquinas {
    gap: 2%;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    display: flex;
    overflow-y: visible;
}


.scrollMaquinas {
    width: 100%;
    scrollbar-color: #5573ff #fff;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    overflow-y: scroll;

    


}

.secaoMaquinas {
    width: 100%;
    padding-block: 1%;
    margin-top: 5px;
    height: fit-content;
    border-radius: 10px;
    background-color: #dde3ff;
    gap: 0.2%;
    flex-direction: row;
    display: flex;
    overflow-wrap:anywhere;
    text-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

}

.bola {
    border: solid .1px #8BA0FF;
    height: 10px;
    width: 10px;
    scale: 100%;
    margin-right: 5px;
    border-radius: 50%;
}

.legendasMaquinas {
    width: 100%;
    height: fit-content;
    border-bottom: solid 2px #5573ff;
    text-wrap: nowrap;
    overflow-wrap:anywhere;

    display: flex;
    justify-content: space-evenly;
    gap: 0.2%;
    flex-direction: row;
}

.maquinaLegenda {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
    text-wrap:wrap;
    overflow-wrap:anywhere;

    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.5vmax;
    margin-left: 4px;
    display: flex;

    overflow: hidden;
}

#buttonExpandir {

    background-color: #5573ff;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    overflow-wrap:anywhere;
    justify-content: center;
    transition: all 0.2s ease;
}

#buttonExpandir:hover {
    filter: brightness(120%);
}

.swal-height {
    height: 80px;
}


.section1 {

    height: 120%;
    gap: 2vh;
    width: 99%;
    /* background-color: saddlebrown; */
    flex-direction: column;
    display: flex;
}

.section1 select {
    width: 100%;
}

/* .subSection1 {

    height: fit-content;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 1%;
    gap: 1%;
    width: 100%;

} */

.subSection2 {

    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    gap: 50px;
}

.legendaSecao {
    margin: 2px;
    width: 100%;
    flex-direction: column;
    display: flex;
}



.grafico {
    width: 100%;
    height: 300px;
    min-height: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.titulo {
    display: flex;
    flex-direction: column;
    color: #8BA0FF;
}

.section2 {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.InformacaoTotens {

    display: flex;
    height: 120%;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.InformacaoAlertas {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120%;
    width: 60%;
}

.graficoAlertas {
    height: max-content;
    width: 100%;
    border: 2px solid lightgray;
    overflow: hidden;
}

.alertasLog {
    background-color: white;
    padding: 2%;
    position: fixed;
    height: 2000px;
    width: 60%;
}

.alertaStats {
    display: flex;
    flex-direction: column;
    gap: 20%;
    height: 120%;
    align-items: center;
    justify-content: center;
    width: 25vw;
    margin-bottom: 16px;
    overflow: auto;

}

#dados {

    height: 30%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#graficoPizzas {
    border: 2px solid lightgray;
    width: 100%;
    height: fit-content;



}


.totemTitulo {

    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid lightgray;
    background-color: white;
    height: fit-content;
    width: 80%;

    font-size: 100%;
    color: gray;
    justify-content: center;
    display: flex;
    flex-direction: column;



}

#totemDado {

    font-weight: 600;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 180%;
    color: black;
}

.TotensQTD {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;

}

.scrollLog {
    width: 100%;
    height: 60vh;
    overflow-x: auto;
    overflow-y: scroll;

}

.secaoLog {


    align-items: center;
    align-self: center;
    background-color: #dde3ff;
    display: flex;
    width: 100%;
    height: 4vh;
    flex-shrink: 0;
    border-radius: 14px;
    text-overflow: ellipsis;
}

.selects {
    align-items: center;
    top: 40%;
    justify-content: space-evenly;
    display: flex;
    width: 30%;
    gap: 4%;
    margin-left: 30px;
}

.selectBox {
    color: gray;
    height: 100%;
    min-width: 40%;
    max-width: 60%;




    .scrollMaquinas::-webkit-scrollbar-thumb {
        background-color: #8BA0FF;
    }


    .scrollMaquinas::-webkit-scrollbar-button {
        display: none;
        height: 0;
        width: 0;
    }



    .tabela table {
        text-align: center;
        height: 50%;
        border: 1px solid #8BA0FF;
    }

    .tabela td,
    th {
        border: 1px solid #8BA0FF;
    }

    


    /* @media (max-width: 768px) {
        .container {
            margin-left: 0;
        }

        .barra_lateral {
            display: none;

        }

        .child {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem;
            transition: all .25 ease-in-out;
        }

        .section1,
        .section2 {
            width: 100%;
            gap: 3rem;
            font-size: 1.2rem;
        }

        .section1 p,
        .section2 p {
            margin: 0;
        }

        .section1 select {
            width: 100%;
        }



        .InformacaoTotens {
            display: flex;
            justify-content: flex-start;
        }

        .tabela table {
            width: 100%;

        }

        .titulo {
            margin: 0;
        }
    } */
}